body {
    background-color:rgb(94, 157, 224);
}
#products {
    box-sizing:border-box;
    padding:10px;
    max-width:70%;
    float:left;
    margin-top:30px;
    min-height:400px;
}
img {
    background-color:white;
    border:solid black 1px;
    max-width:31%;
    box-sizing:border-box;
    float:left;
    padding:1%;
    border-radius:50%;
}
img:first-child {
    margin-right:.5%;
}
img:last-child {
    margin-left:.5%;
}
#results {
    float:right;
    width:100%;
    box-sizing:border-box;
    margin-top:30px;
    font-size:18px;
    background-color:grey;
    padding:20px;
    min-height:70%;
    border-radius:10px;
    border:solid black 1px;
    color:white;
}
#results ul {
    list-style:none;
    font-family:sans-serif;
    line-height:1.4;
}
#results h2 {
    text-align:center;
    margin-left:-10px;
}
#canvas {
    background-color:lightGrey;
    border-radius:10px;
    border:solid black 1px;
}