body {
    background-color:rgb(94, 157, 224);
}
#products {
    box-sizing:border-box;
    padding:10px;
    padding-right:0px;
    max-width:100%;
    margin-top:30px;
}
img {
    background-color:white;
    width:100%;
    border:solid black 1px;
    box-sizing:border-box;
    float:left;
    padding:3%;
    border-radius:10%;
    height:100%;
}
img:first-child {
    margin-right:.5%;
}
img:last-child {
    margin-left:.5%;
}
#results {
    font-family:sans-serif;
    float:right;
    width:100%;
    box-sizing:border-box;
    /* margin-top:30px; */
    font-size:18px;
    background-color:grey;
    padding:20px;
    min-height:70%;
    border-radius:10px;
    border:solid black 1px;
    color:white;
    max-width:80%;
    /* margin-left:10%;
    margin-right:10%; */
    margin:30px 10% 40px 10%;
}
#results ul {
    list-style:none;
    font-family:sans-serif;
    line-height:1.4;
}
#results h2 {
    text-align:center;
    margin-left:-10px;
}
#canvas {
    background-color:lightGrey;
    border-radius:10px;
    border:solid black 1px;
}
.imgDiv {
    float:left;
    width: 30%;
    height: 450px;
    margin:1%;
}
#resetButton {
    padding:5px 0px 5px 0px;
    border:black solid 1px;
    font-size:14px;
    background-color:lightGrey;
    margin-left:44%;
    margin-right:44%;
    border-radius:5px;
    margin-bottom:10px;
}
#resetButton:hover {
    opacity:.6;
    border:black solid 1px;
}
#resetButton a {
    letter-spacing:.5px;
    font-weight:bold;
    padding:8px 15px 8px 15px;
    text-decoration:none;
    color:black;
}
#resetButton a:hover {
    color:;
}